#!/bin/bash

{{ range $key, $value := . }}
  {{ if contains $value.Labels "mysql-backup" }}

/backup-scripts/backup.sh \
  -n "{{ $value.Name }}" \
  -h "{{ $value.IP }}" \
  -p "{{ $value.Env.MYSQL_ROOT_PASSWORD }}" \
  -d "{{ if $value.Env.BACKUP_DB }}{{$value.Env.BACKUP_DB}}{{ else }}${BACKUP_DB}{{ end }}" \
  -m "{{ if $value.Env.BACKUP_MAX }}{{$value.Env.BACKUP_MAX}}{{ else }}${BACKUP_MAX}{{ end }}"

  {{ end }}
{{ end }}
